  * {
      font-family: sans-serif;
      line-height: 1.618em;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  html {
      font-size: 16px;
      margin-top: 3em;
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: linear-gradient(gold,bisque);
  }
  /* ****  CONTAINER  **** */
  
  .container {
    font-family: sans-serif;
      align-items: center;
      height: 20rem;
      color: #333;
      margin: 20px;
      border: 10px;
      padding: 0;
  }
  header {
    font-size: 1.6em;
    color: chocolate;
    padding: 2em 0;
}

header span {
    font-size: 1em;
    line-height: 1em;
    color: chocolate;
}

  header,
  .container {
      margin: 0 auto;
      max-width: 1024px;
      text-align: center;
  }

  .beer-list a {
    font-size: 1em;
    line-height: 1em;
    color: chocolate;
    display: flex;
    align-content: center;
    justify-content: space-evenly;

}

.beer-list ul {
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    align-self: start;
    text-decoration: none;
}

.beer-list a:link {
    color: chocolate;
    text-decoration: none;
  }

.beer-list a:hover {
    font-weight: bold;
    color: cornflowerblue;
}

.beer-list a.active {
    font-weight: bold;
    color: blueviolet;
}


.details  {
    font-size: 1em;
    color: rgb(84, 39, 7);
    display: grid;
    grid-template-columns: 2, 50%;
    grid-template-rows: 2;
    padding: 10px;
}


.container img {
    max-height: 500px;
    height: 70%;
    width: auto;
  }
  


  footer {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
    color: #333;
    padding: 1em;
    text-align: center;
}