  * {
      font-family: sans-serif;
      line-height: 1.618em;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  html {
      font-size: 16px;
      margin-top: 3em;
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: linear-gradient(cornflowerblue, white);
  }
  /* ****  CONTAINER  **** */
  
  .container {
      align-items: center;
      height: 20rem;
      color: #333;
      margin: 20px;
      border: 10px;
      padding: 0;
  }
  
  header,
  .container {
      margin: 0 auto;
      max-width: 1024px;
  }
  