<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <link href="css/styles-rsfs.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Categories</title>
    
</head>

<body>

    <header>
        <h1>All Categories</h1>
    </header>

    <main>
        <ul> 
            <li th:each="category: ${categoriesModel}"><a th:href="|/category/${category.id}|"
                    th:text="${category.name}"></a></li>
        </ul>
    </main>

    <footer>
        <small>&copy WCCI 2020</small>
    </footer>

</body>
</html>