<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <link href="/css/styles-rsfs.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${reviewModel.title}">A review</title>
</head>
<body>

    <header>
        <h1 th:text="${reviewModel.title}">A Review</h1>
    </header>

    <main>
        <img th:src="${reviewModel.imageUrl}">
        <p th:text="${reviewModel.content}"></p>
        <p th:text="${reviewModel.date}"></p>
    </main>

    <footer>
        <p><a th:href="|/category/${reviewModel.category.id}|">Back to List of Category Reviews</a></p>
        <small>&copy WCCI 2020</small>
    </footer>

</body>
</html>