<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Defunct template</title>
</head>

<body>

    <header>
        <h1>Defunt template -  please disregard</h1>
    </header>

    <main>
        <ul> 
            <li th:each="review: ${reviewsModel}"><a th:href="|/review/${review.id}|"
                    th:text="${review.title}"></a></li>
        </ul>
    </main>

    <footer>
        <p><a href="/categories">back to All Categories</a></p>
        <small>&copy WCCI 2020 - Kelli Valverde</small>
    </footer>

</body>
</html>