<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <link href="/css/styles-rsfs.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${reviewModel.title}">A review</title>
</head>
<body>
    <div class="container">
    <header>
        <h1 th:text="${reviewModel.title}">A Review</h1>
    </header>

    <main>
       <img th:src="${reviewModel.imageUrl}">
       <div class="details">
         <p th:text="${reviewModel.content}"></p>
         <p th:text="${reviewModel.date}"></p>
        </div>

		<section class="beer-list">
	        <div class="tags-in-review">
	            <ul><h2>Tags for this beer:</h2>
	                <li th:each="tag: ${reviewModel.tags}"><a th:href="|/tag/${tag.id}|"
	                        th:text="${tag.name}"></a>
	                </li>
	            </ul>
			</div>
		</section>

        <section class="comments">
            <h2>Add a Comment</h2>
            <form method="POST">
                <div>
                    <label>Title:</label>
                    <input type="text" name="title" />
                </div>
                
                <div>
                    <label>Content:</label>
                    <textarea name="content" type="text "rows="2" cols="4" placeholder="write a comment..."></textarea>
                </div> <!--set min width and padding in css-->
                
                <div>
                    <button type="submit" th:formaction="|/review/${reviewModel.id}/comment|">Done</button>
                </div>
            </form>
            
        </section>
        <section>
            <ul><h2>Comments for this beer:</h2>
                <li th:each="comment: ${reviewModel.comments}">
                    <h3 th:text="${comment.title}"></h3>
                    <p th:text="${comment.content}"></p>

                </li>
            </ul>


        </section>


    </main>

    <footer>
        <p><a th:href="|/category/${categoryModel.id}|">Back to List of Category Reviews</a></p>
        <small>&copy WCCI 2020 - Kelli Valverde</small>
    </footer>
    </div>
</body>
</html>