<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <link href="/css/styles-rsfs.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One lonely tag</title>
</head>
<body>

	<header>
        <h1><span th:text="${tagModel.name}"></span>: Tags</h1>
    </header>
    
    <div class="reviews-in-tag">
        <ul>
            <li th:each="review: ${tagModel.reviews}"><a th:href="|/review/${review.id}|"
                    th:text="${review.title}"></a>
            </li>
        </ul>
        
    </div>

     
</body>
</html>