<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <link href="/css/styles-rsfs.css" rel="stylesheet">
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Beer Reviews</title>
</head>

<body>

    <header>
        <h1><span th:text="${categoryModel.name}"></span> - My Beer Reviews</h1>
	<div th:text="${categoryModel.description}"></div>
    </header>

    <main>
        <ul> 
            <li th:each="review: ${categoryModel.reviews}"><a th:href="|/review/${review.id}|"
                    th:text="${review.title}"></a></li>
        </ul>
    </main>

    <footer>
        <p><a href="/categories">back to All Categories</a></p>
        <small>&copy WCCI 2020</small>
    </footer>

</body>
</html>